/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02-abr-2023, 21:13:39
    Author     : anmam
*/

.container {
    min-height: 600px;
}

#buttonContainer,
#formContainer {
    min-height: inherit;
}
